.body{
    width: 1440px;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    background: url(imgs/bg.png) no-repeat;
    background-size: 100%;
    height: 1050px;
}
.menu {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Nunito;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    padding-left: 60px;
    padding-top: 30px;
}
.navbar {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    padding-right: 50px;
}
.navbar_links{
    margin-left: 50px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Nunito;
    padding: 3px 11px;
}

.navbar_links:hover{
    color: #1B264B;
    text-decoration: none;
    background: #FDFFFC;
    border-radius: 4px;
    transition: 400ms;
}

.headline{
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 102px;
    letter-spacing: 0.02em;
    padding-top: 50px;
    padding-left: 60px;
    color: #FFFFFF;
}
.hero p{
    padding-left: 60px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 74px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 655px;
}
.contentBody{
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
}
.contentBody_welcome{
    display: flex;
    flex-direction: column;
}
.contentBody_welcome h2{
    display: flex;
    justify-content: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
}
.contentBody_welcome p{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #333333;
    margin: 80px 80px;
}
.contentBody_browse{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.browse_products {
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 68px;
    display: flex;
    align-items: center;
    color: #076572;
    width: 40%;
}
.browse_WievMore{
    position: absolute;
    padding-top: 300px;
    padding-left: 20px; 
}
.WievMore{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    text-decoration: none;
}
.WievMore:hover{
    text-decoration: underline;
}
.elipse{
	width: 400px;
  	height: 400px; 
    z-index: 0;  
    background: url("data:image/svg+xml,%3Csvg width='15px' height='15px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Ccircle cx='11' cy='11' r='2' fill='%23C4C4C4'%3E%3C/circle%3E%3C/svg%3E");
}
.browse_elipse{
    padding-top: 50px;
}
.pictures_packs{
    position: absolute;
    z-index: -1;

}
.pictures_car{
    z-index: 2;
    margin-left: 230px;
    margin-top: 100px;
}
.contentBody_graphical{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.graphical_elipse{
    width: 92%;
    display: flex;
    justify-content: flex-start; 
    position: absolute;
    z-index: -1;
    padding-left: 120px;
    margin-top: 50px;
}
.picture_graphic{
    padding-left: 120px;
    margin-top: 140px;
}
.graphical_presentation{
    width: 40%; 
    margin-top: 140px;
    margin-left: 30px;
}
.presentation{
    width: 100%;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 68px;
    display: flex;
    align-items: center;
    color: #076572;

}
.graphical_presentation p{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 0.02em;
    color: #333333;
    width: 100%;
}
.graphical_WievMore{
    margin-top: 30px;
}
.contentBody_manage{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}
.manage{
    margin-left: 50px;
}
.manage_elipse{
    width: 92%;
    display: flex;
    justify-content: center; 
    position: absolute;
    z-index: -1;
    padding-left: 120px;
    margin-top: 50px;
}
.manage p {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #282D32;
}
.manage h2{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 68px;
    display: flex;
    align-items: center;
    color: #076572;
}
.manage_WievMore{
    padding-top: 150px;
}
.manage_wallet{
    padding-top: 30px;
}

